/*Modal FullScreen*/
.modal.modal-fullscreen .modal-dialog {
    width: 75%;
    height: auto;
    max-width: none; 
}

.modal.modal-fullscreen .modal-content {
    height: auto;
    min-height: 100%;
}

@media only screen and (max-width: 480px) {
    .modal.modal-fullscreen .modal-dialog {
        width: 95%;
        height: auto;
        max-width: none; 
    }
}

/*Hacer todo el texto de los inputs mayusculas*/
input { 
    text-transform: uppercase;
}
::-webkit-input-placeholder { /* WebKit browsers */
    text-transform: none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-transform: none;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-transform: none;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    text-transform: none;
}
::placeholder { /* Recent browsers */
    text-transform: none;
}

/*Login*/
.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
    width: 50%; 
    height: 340px;
    min-width: 300px;
    max-width: 600px;
    padding: 30px;
}