.btn {
    margin-bottom: 0.454rem;
}

/*Hacer disbaled de selectize igual a bootstrap*/
.selectize-control .selectize-input.disabled {
    background-color: #ecf0f1;
    opacity: 1;
}
/*Progress Bar*/
.progress-indicator>li.completed .bubble, .progress-indicator>li.completed .bubble:after, .progress-indicator>li.completed .bubble:before {
    background-color: #5db969;
    border-color: #247830;
}

.progress-indicator>li.completed, .progress-indicator>li.completed .bubble {
    color: #386f3f;
}
/*Legend*/
legend {
    font-size: 1.3rem;
}
/*NavTabs*/
.nav-tabs {
    border-bottom: 1px solid #99aeb2;
}
.nav-tabs a {
    color: #161c1d;
}

/*Fondo aplicacion*/
html{
    font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
    background-color: #f5f5f5;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    color: #495057;
    text-align: left;
    background-color: transparent;
    line-height: 1.4;
    font-size: 0.8875rem;
}
.card-body {
    background-color: transparent !important;
}
.card {
    background-color: transparent;
}

/*Formularios*/
label {
    margin-bottom: 0rem;
}
label, .control-label, .help-block, .checkbox, .radio, .form-control-feedback {
    font-size: 0.72rem;
}

.form-control {
    color: #000 !important;
}

/*Tablas */


table tbody tr{
    cursor: pointer;
    font-size: 0.8rem !important;
    background-color: white;

}
table thead tr{
    cursor: pointer;
    background-color: white;
}

table tfoot tr{
    cursor: pointer;
    background-color: white;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 0.5px solid #dee2e6;
}

.table>tbody>tr>td.success,
.table>tfoot>tr>td.success,
.table>tbody>tr>th.success,
.table>tfoot>tr>th.success,
.table>tbody>tr.success>td,
.table>tfoot>tr.success>td,
.table>tbody>tr.success>th,
.table>tfoot>tr.success>th {
    background-color: #2C3E50 ;
    color: #fff;
}

table tbody tr:hover {
    background-color: #2C3E50;
    color: #fff !important;
}

/*Modal FullScreen*/
/*.modal.modal-fullscreen .modal-dialog {
    width: 90%;
    height: auto;
    max-width: none; 
}

.modal.modal-fullscreen .modal-content {
    height: auto;
    min-height: 100%;
}

@media only screen and (max-width: 480px) {
    .modal.modal-fullscreen .modal-dialog {
        width: 95%;
        height: auto;
        max-width: none; 
    }
}*/

/*Hacer todo el texto de los inputs mayusculas*/
input { 
    text-transform: uppercase;
}
textarea  { 
    text-transform: uppercase;
}
::-webkit-input-placeholder { /* WebKit browsers */
    text-transform: none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-transform: none;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-transform: none;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    text-transform: none;
}
::placeholder { /* Recent browsers */
    text-transform: none;
}
