/* 
    Created on : 14/04/2017, 07:53:35 PM
    Author     : Ing.Giovanni Flores
*/ 

@import url('https://fonts.googleapis.com/css?family=Oswald');

*{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase !important;
    font-size: 16px;
}

html{ 
    /*background: url(../img/Logo.png) no-repeat center center fixed; */
    background-color: #002c4c;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.42857143; 
    color: #666666 !important;
    background: none !important; 

}


/*Close Modals*/
.close {
    float: right;
    font-size: 21px !important;
    font-weight: 700;
    line-height: 1;
    color: #fff !important;
    /* text-shadow: 0 1px 0 #fff; */
    filter: alpha(opacity=20);
    opacity: .8;
}





table tbody tr{
    cursor: pointer;
}
table thead tr{
    cursor: pointer;
}

.navbar {
    border-radius: 0px;
}

/*DROPDOWN*/
.dropdown-menu {
    text-decoration: none;
    color: #59666B; 
}
.dropdown-menu > li > a{
    text-decoration: none;
    color: #7A8C93;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #59666B !important; 
}

.navbar-brand {
    float: left;
    padding: 10px 10px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}

/*LABEL CUSTOM*/
label {
    font-size: 14px;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 2px;
}


.btn-primary {
    color: #ffffff;   
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5e789a+0,103e76+100 */
background: #5e789a; /* Old browsers */
background: -moz-linear-gradient(top, #002c4c 0%, #002c4c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #002c4c 0%,#002c4c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #002c4c 0%,#002c4c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002c4c', endColorstr='#002c4c',GradientType=0 ); /* IE6-9 */
}


div.dt-buttons > .btn-default{
        background: none;
        border: none;
        color: #002c4c;
    }
    
    div.dt-buttons > .btn-default:hover{
       
        
        color: #97A3AB;
    }


.btn-default {
    color: #ffffff;   
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eab92d+0,c79810+100;Yellow+3D+%232 */
    

    background: #FFA000; 
    background: -moz-linear-gradient(top, #FFA000 0%, #FFA000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #FFA000 0%,#FFA000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #FFA000 0%,#FFA000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFA000', endColorstr='#FFA000',GradientType=0 ); /* IE6-9 */
}
.btn-default:hover {
    color: #ffffff;   
    background-color: #B57404;
    border-color: #B57404;
}
.panel-default {
    border: #1a3783 solid 2px;
}

input[type="text"],input[type="password"],input[type="number"]{
    color: #002c4c !important;
    font-size: 16px; 
}

/*Imput combobox*/
.select2-container .select2-choice {
    display: block;
    height: 26px;
    padding: 0 0 0 0px;
    overflow: hidden;
    position: relative;
    border: 0 solid #aaa;
    border: 0 solid #000;
    white-space: nowrap;
    line-height: 20px;
    color: #444;
    text-decoration: none;
    border-radius: 0;
    background-clip: padding-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
}

.margin-top-50{
    margin-top: 50px;
}
.margin-top-100{
    margin-top: 100px;
}
.margin-top-150{
    margin-top: 150px;
}
/*CONTAINER*/

.container {
    width: 95% !important;
}
.transparent {
    background-color:transparent !important;
}
a{
    text-decoration: none !important;
}
.thumbnail {
    color: #015FA3;
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: transparent !important;
    border: none !important;
    border-radius: 4px;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
}
.thumbnail:hover {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #1a3783 !important;
    border: 1px solid #1a3783;
    border-radius: 4px;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
    background-image: linear-gradient(#1f429d, #1a3783 60%, #173072);
}
.text-white{
    color: #fff !important;
}

.panel-info > .panel-heading {
    color: #ffffff;
    background-color: #5bc0de;
    background-image: linear-gradient(#1f429d, #1a3783 60%, #173072) !important;
    border-color: rgba(0, 0, 0, 0.6);
}

.label-primary {
    background-color: #7a8288;
    background-image: linear-gradient(#1f429d, #1a3783 60%, #173072) !important;
}
.panel-title{
    font-family: 'Oswald', sans-serif !important;
    font-size: 40px;
}
.table thead th{
    color: #ffffff !important; 
    background-image: linear-gradient(#002c4c, #002c4c 60%, #002c4c) !important;
}
.table tr:hover{
    color: #ffffff !important; 
    background-image: linear-gradient(#ACB1BE, #ACB1BE 60%, #ACB1BE) !important;
}



.navbar-default .navbar-nav > li > a {
    
    color: #67767C !important;
}
textarea.form-control{
    color: #1a3783 !important;
}
/**SELECT HOVER**/
.select2-results .select2-highlighted {
    background-image: linear-gradient(#1f429d, #1a3783 60%, #173072) !important;
    color: #fff;
}

.datepicker table tr td.day:hover, .datepicker table tr td.day.focused {
    background-image: linear-gradient(#1f429d, #1a3783 60%, #173072) !important;
    color: #fff;
    cursor: pointer;
}
.modal-header{
    text-align: center;
    background-image: linear-gradient(#002c4c, #002c4c 60%, #002c4c) !important;
    color: #fff;
    font-size: 25px!important;
}
.modal-subtitle{
    text-align: center;
    background-image: linear-gradient(#002c4c, #002c4c 60%, #002c4c) !important;
    color: #fff;
    font-size: 25px!important;
}
.modal-title>h4{
    font-size: 50px !important;
}



/*Custom*/
/*Paginacion*/
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #002c4c;
    border-color: #002c4c;
}

/*Dsibaled menu*/
.dropdown-menu>.disabled>a, .dropdown-menu>.disabled>a:focus, .dropdown-menu>.disabled>a:hover {
    color: #59666B;
}


.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #002c4c;
    outline: 0;
} 
    
.table-responsive 
{   
    width: 100%;
    margin-bottom: 15px;
    overflow-x: auto;   
    overflow-y: hidden;     
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #2c3e50; 
}

#table.table-responsive td{
    min-width:250px; /* force table to be oversize */
}

#table > thead > tr > th{
    width: 100%
}
thead > tr > th{
    width: 100%
}
tr > th{
    width: 100%
}



.table-hover>tbody>tr.success:hover>td, 
.table-hover>tbody>tr.success:hover>th, 
.table-hover>tbody>tr:hover>.success, 
.table-hover>tbody>tr>td.success:hover, 
.table-hover>tbody>tr>th.success:hover {
     background-color: #6D6F76;
}

.table>thead>tr>td.success, 
.table>tbody>tr>td.success, 
.table>tfoot>tr>td.success, 
.table>thead>tr>th.success, 
.table>tbody>tr>th.success, 
.table>tfoot>tr>th.success, 
.table>thead>tr.success>td, 
.table>tbody>tr.success>td, 
.table>tfoot>tr.success>td, 
.table>thead>tr.success>th, 
.table>tbody>tr.success>th, 
.table>tfoot>tr.success>th {
    
        background-color: #6D6F76;
        color: #FFF;
}


table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
    font-size: 13px !important;
}


/*Botones de tableros*/
.btn .btnTableros {
    display: inline-block;
    padding: 0px 6px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 2px;
}

.btn .btnTableros-default {
    color: #ffffff;   
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eab92d+0,c79810+100;Yellow+3D+%232 */
    

    background: #FFA000; 
    background: -moz-linear-gradient(top, #FFA000 0%, #FFA000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #FFA000 0%,#FFA000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #FFA000 0%,#FFA000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFA000', endColorstr='#FFA000',GradientType=0 ); /* IE6-9 */
}
.btn .btnTableros-default:hover {
    color: #ffffff;   
    background-color: #B57404;
    border-color: #B57404;
}